  <div data-ng-init="showAllIdeas()">
    <div class="col-sm-4 margin-top" data-ng-repeat="idea in ideas">
        <p data-ng-class="{'stike': idea.isCrossedOut == 1}">Author: {{idea.author}}</p>
        <p data-ng-class="{'stike': idea.isCrossedOut == 1}">Idea: {{idea.comment}}</p>
        <p data-ng-class="{'stike': idea.isCrossedOut == 1}">Votes: {{idea.votes}}</p>
        <a class="btn btn-default" href="#/show/{{idea.id}}">show</a>
        <a class="btn btn-default" href="#/edit/{{idea.id}}">edit</a>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-4 margin-top">
      <a class="btn btn-default" href="#/create">Create New</a>
    </div>
  </div>
